@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-ElenaShine: "ElenaShine", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

:root {
  --cyber-color: #0384C0; /* ライト */
}

.dark {
  --cyber-color: #00ffff; /* ダーク */
}

.blob {
  position: absolute;
  width: 1000px;
  height: 1000px;
  border-radius: 400%;
  filter: blur(100px);
  animation: moveBlob 12s ease-in-out infinite alternate;
}

.blob:nth-child(1) {
  top: -20%;
  left: -10%;
  animation-delay: 0s;
}

.blob:nth-child(2) {
  top: 50%;
  left: 70%;
  animation-delay: 5s;
}

@keyframes moveBlob {
  0% {
    transform: translate(0, 0) scale(1);
  }
  50% {
    transform: translate(40px, -80px) scale(0.8);
  }
  100% {
    transform: translate(20px, 10px) scale(1.2);
  }
}

.frame{
  width:100%;
  height:100%;
}